<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <tx:annotation-driven/>
    <context:annotation-config/>


    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:mem:"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <array>
                <value>com.lazyman.pickupweb.dao.Teacher</value>
                <value>com.lazyman.pickupweb.dao.Course</value>
                <value>com.lazyman.pickupweb.dao.Student</value>
                <value>com.lazyman.pickupweb.dao.StudentPay</value>
                <value>com.lazyman.pickupweb.dao.CourseSchedule</value>
                <value>com.lazyman.pickupweb.dao.StudentCourseRecord</value>
            </array>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.H2Dialect
                hibernate.ejb.use_class_enhancer=true
                hibernate.hbm2ddl.auto=create
                #hibernate.show_sql=true
            </value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="teacherDao" class="com.lazyman.pickupweb.dao.TeacherDaoImpl"/>
    <bean id="courseDao" class="com.lazyman.pickupweb.dao.CourseDaoImpl"/>
    <bean id="studentDao" class="com.lazyman.pickupweb.dao.StudentDaoImpl"/>
    <bean id="studentClassRecordDao" class="com.lazyman.pickupweb.dao.StudentCourseRecordDaoImpl"/>
    <bean id="courseScheduleDao" class="com.lazyman.pickupweb.dao.CourseScheduleDaoImpl"/>

</beans>