<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProperty scope="local" name="level" source="pickupweb.log.level"/>

    <springProfile name="!production">
        <logger name="org.hibernate.SQL" level="${level}"/>
        <logger name="org.hibernate.type" level="${level}"/>
        <logger name="org.springframework" level="${level}"/>
        <logger name="com.lazyman.pickupweb" level="${level}"/>
    </springProfile>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>