<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.lazyman.pickupweb.course.Student">
        <property name="email" value="cxqpfan@163.com"/>
    </bean>


    <bean id="bean" class="com.lazyman.pickupweb.test.study.Bean">

    </bean>


    <bean id="mockStudentDao" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.lazyman.pickupweb.course.StudentDao"/>
    </bean>

    <bean id="service" class="com.lazyman.pickupweb.test.study.Service">
        <property name="bean" ref="bean"/>
    </bean>
</beans>